<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Error page</title>
</head>
<body>
    <div class = "container">
        <div class = "jumbotron text-center">
            <h1>Oops!!!</h1>
            <p>1)Check your Internet Conection</p>
            <p>2)If you are connected, go back and check your values entered</p>
            <p>3)Test data must be smaller than the Whole Stock data</p>
            <p>4)Enter epochs value correctly</p>
        </div>
    </div>
</body>
</html>